[Unit]
Description=Z-Terminal Communication Service
Conflicts=shutdown.target

[Service]
User=root
ExecStart=/usr/bin/ztermcom
StandardOutput=journal
StandardError=journal
KillSignal=SIGKILL
Restart=always
RestartSec=5

[Install]
#WantedBy=multi-user.target