xana
wkst
rpi/java
rpi/sounds
rpi/RetroPie-Setup
automate/config/html/img/wifi.png
automate/config/html/wifi.js
automate/config/html/fonts
unifi/firmware
mgmt/keys
pve/vmbkps
pve/photos
*wifi_creds.py*
*auto.creds*
*sasl_passwd*
*authorized_keys*
*openapd.mac*
*Thumbs.db*
*.tar.xz*
*.deb*
*.pem*
*.crt*
*.key*
*.rsa*
*.pub*
*.ppk*
*._*
.ssh