rpi/java
rpi/pkgs
rpi/retropi
rpi/sources
pve/vmbkps
pve/photos
retropi/retropie-setup
automate/config/html/img/wifi.png
automate/config/html/wifi.js
xana
*authorized_keys*
*Thumbs.db*
*.pem*
*.crt*
*.key*
*.rsa*
.ssh
server/config/keys