rpi/java
rpi/pkgs
rpi/retropi
rpi/sources
pve/network
pve/vmbkps
pve/photos
unifi/firmware
retropi/retropie-setup
automate/config/html/img/wifi.png
automate/config/html/wifi.js
xana
*auto.creds*
*authorized_keys*
*openapd.mac*
*Thumbs.db*
*.pem*
*.crt*
*.key*
*.rsa*
*.pub*
.ssh
server/config/keys