[Unit]
Description=ProOS Init Service by Ben Provenzano III
Conflicts=shutdown.target
After=network-online.target

[Service]
Type=forking
ExecStartPre=-/etc/netmode.sh boot
ExecStart=-/opt/rpi/main boot
TimeoutSec=240

[Install]
WantedBy=network-online.target