[Unit]
Description=ProOS Init Service by Ben Provenzano III
DefaultDependencies=no
Conflicts=shutdown.target
After=sysinit.target local-fs.target

[Service]
Type=oneshot
ExecStartPre=-/etc/netmode.sh boot
ExecStartPre=-/etc/preinit.sh
ExecStart=-/opt/rpi/main boot
RemainAfterExit=yes
TimeoutSec=240

[Install]
WantedBy=basic.target