[Unit]
Description=Fadecandy LED Effects Loop
Conflicts=shutdown.target

[Service]
User=root
Type=simple
ExecStart=/bin/bash -c "/opt/rpi/leds.sysd"
Restart=always
KillSignal=SIGKILL
RestartSec=5
