[Unit]
Description=Start the Graphical User Interface

[Service]
User=pi
Type=forking
RemainAfterExit=yes
ExecStart=/bin/bash -c 'export DISPLAY=":0"; startx &'
WorkingDirectory=/home/pi
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
