[Unit]
Description=Start the Graphical User Interface

[Service]
User=pi
Type=forking
ExecStart=/bin/bash -c '/usr/bin/emulationstation'
WorkingDirectory=/home/pi
StandardInput=tty-force
TTYPath=/dev/tty1
