[Unit]
Description=Auto hotspot if Wi-Fi down
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
LogLevelMax=notice
StandardOutput=append:/tmp/netstat.txt
ExecStartPre=/bin/sleep 60
ExecStart=-/etc/netmode.sh netdetect
RemainAfterExit=yes
