[Unit]
Description=Start the Graphical User Interface

[Service]
User=pi
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/rpi/main x11

[Install]
WantedBy=multi-user.target
