[Unit]
Description=Wi-Fi network scanning support (needed for hostspot mode)
Conflicts=shutdown.target

[Service]
User=root
ExecStart=/sbin/wpa_supplicant -c/etc/wpa_supplicant/wpa_supplicant.empty -iwlan0 -Dnl80211,wext
Restart=always
RestartSec=5

[Install]
#WantedBy=multi-user.target