[Unit]
Description=Fadecandy LED Effects Loop
Conflicts=shutdown.target

[Service]
User=root
Type=forking
ExecStart=/opt/rpi/leds.sysd
Restart=always
KillSignal=SIGKILL
RestartSec=5
