[Unit]
Description=Node.js Open Pixel Control Server
Conflicts=shutdown.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/node server.js
WorkingDirectory=/opt/rpi/effects/nodeopc/server
Restart=always
RestartSec=5

