[Unit]
Description=Node.js Open Pixel Control Server
Conflicts=shutdown.target

[Service]
User=root
ExecStart=/usr/bin/nodejs server.js
WorkingDirectory=/opt/rpi/nodeopc/server
Restart=always
RestartSec=5

