[Unit]
Description=Motion - monitor live video, trigger responses, record video/stills.
Documentation=man:motion(1)
After=local-fs.target network.target

[Service]
ExecStart=/usr/bin/motion -b
Type=forking
PIDFile=/var/run/motion/motion.pid
Restart=always
RestartSec=7
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
