[Unit]
Description=rclone: Remote FUSE filesystem for cloud storage config

[Service]
User=root
Group=root
ExecStartPre=/bin/mkdir -p /mnt/gsync
ExecStart=/usr/bin/rclone --config /media/usb0/rclone/rclone.conf \
  mount --allow-other --no-modtime --buffer-size=16M --dir-cache-time=30m \
  --vfs-cache-mode=writes --vfs-cache-max-age=5m --vfs-read-chunk-size=16M \
  --drive-use-trash=false --umask=0 gsync:/ /mnt/gsync
ExecStop=/bin/fusermount -uz /mnt/gsync
Restart=on-failure
RestartSec=5

[Install]
#WantedBy=multi-user.target