[Unit]
Description=Z-Terminal Communication Service
Conflicts=shutdown.target

[Service]
User=root
ExecStartPre=/bin/bash -c 'rm -f /dev/zterm; mkfifo /dev/zterm; chmod 666 /dev/zterm'
ExecStart=/usr/bin/ztermcom
StandardOutput=journal
StandardError=journal
KillSignal=SIGKILL
Restart=always
RestartSec=5

[Install]
#WantedBy=multi-user.target