[Unit]
Description=USB Flash Drive Detector

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/rpi/main usbplug

[Install]
WantedBy=multi-user.target
