[Unit]
Description=rclone: Remote FUSE filesystem for cloud storage config

[Service]
User=root
Group=root
ExecStartPre=/bin/mkdir -p /mnt/gsync
ExecStart=/usr/bin/rclone --config /root/.config/rclone/rclone.conf \
mount --allow-other --dir-cache-time 30m --buffer-size 32M \
--vfs-cache-mode=minimal --vfs-read-chunk-size 16M \
--vfs-read-chunk-size-limit 32M --drive-use-trash=false \
--umask=0 gsync:/ /mnt/gsync
ExecStop=/opt/rpi/rclonestop
Restart=always
RestartSec=5

[Install]
#WantedBy=multi-user.target