[Unit]
Description=Relax Sound Loop
Conflicts=shutdown.target
After=time-sync.target
Wants=time-sync.target

[Service]
User=root
ExecStart=/opt/system/relaxloop
StartLimitInterval=400
StartLimitBurst=3
Restart=always
RuntimeMaxSec=60