[Unit]
Description=Unified Remote Server
Conflicts=shutdown.target

[Service]
PIDFile=/root/.urserver/urserver.pid
Type=forking
User=root
Group=root
ExecStart=/opt/rpi/urserver-start
ExecStop=killall -s KILL -w urserver
SyslogIdentifier=urserver
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target