[ssh]
        key = ~/.ssh/id_rsa
[user]
        name = Ben P
        email = 80415150+benpro95@users.noreply.github.com
[core]
        repositoryformatversion = 0
        filemode = false
        bare = false
        logallrefupdates = true
        symlinks = false
        ignorecase = true
        