[ssh]
        key = /home/server/id_rsa
[user]
        name = Ben Provenzano III
        email = benprovenzano@gmail.com
[core]
        repositoryformatversion = 0
        filemode = false
        bare = false
        logallrefupdates = true
        symlinks = false
        ignorecase = true
        