[Unit]
Description=Action Trigger Script.

[Service]
LogLevelMax=notice
StandardOutput=append:/mnt/ramdisk/sysout.txt
Type=oneshot
RemainAfterExit=no
ExecStart=-/usr/bin/actiontrig.sh
