[Unit]
Description=Control IR on Camera
Conflicts=shutdown.target

[Service]
User=root
ExecStart=/usr/bin/python3 /opt/rpi/ldr.py
Restart=always
RestartSec=5
LogLevelMax=notice
StandardOutput=null
StandardError=null

[Install]
#WantedBy=multi-user.target