[ssh]
        key = /mnt/datastore/Ben/ProOS/.git/id_rsa
[user]
        name = Ben Provenzano III
        email = benprovenzano@gmail.com
[core]
        repositoryformatversion = 0
        filemode = false
        bare = false
        logallrefupdates = true
        symlinks = false
        ignorecase = true
        sshCommand = ssh -i /mnt/ben/ProOS/.git/id_rsa
        