 @font-face {
  font-family: 'JosefinSans';
  src: url('fonts/JosefinSans-SemiBold.woff2') format('woff2'); 
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: JosefinSans, system-ui;
  font-size: 24px; /* default font size */
}

body {
  margin: 0px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  background-color: #000;
  min-height: 100%;  
  height: 100%;
}

/*
 *  Page Body Style
 */

.parstd {
	border: none;
  outline: none;
	margin-bottom: 1px;
	margin-top: 1px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 0;
}

.pg-bottom {
  padding-bottom: 50px; 
}

.led-grid {
  display: none; 
}

.bedroom-grid {
  display: none;
}

.hifi-grid {
  display: none;
}

.ledpi-grid {
  display: none; 
}

.pi-grid {
  display: none;
}

.server-grid {
  display: none;
}

.svropt__main {
  display: none;
}

.svropt__regions {
  display: none;
}

.svropt__backup {
  display: none;
}

.dynamic-menus {
  display: block;
}

.leftjfy {
  float: left;
  margin-right: 8px;
}

.grid {
  display: flex;
  margin-left: -5px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
  min-height: 100%;  
  height: 100%;
}

.grid::-webkit-scrollbar {
  display: none;
}

.column-left {
  padding-left: 0px;
}

.column-right {
  padding-left: 7px;
}

.banner__text {
  display: none;
  margin-top: 6px;
  text-align: left;
  font-size: 20px;
}

/*
 *  Scrollbar Style
 */

.scroll-bar-style::-webkit-scrollbar-track
{
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #000;
  border-radius: 5px;
}

.scroll-bar-style::-webkit-scrollbar-thumb
{
  background-color: color-mix(in srgb, var(--main-color) 70%, #fff);
  border-radius: 5px;  
}

.scroll-bar-style::-webkit-scrollbar
{
  width: 6px;
}

/*
 *  Checkbox Style
 */

input[type="checkbox"] {
  accent-color: var(--main-color); 
}

input.chkbox {
  margin-left: 16px;
  float: right;
  width: 22px;
  height: 22px;
}

/*
 *  Button Styles
 */

.button {
  transition: all 0.2s;
  width: 150px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: none;
  outline: none;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
  color: #fff; /* buttons font color */
  text-shadow: 1px 1px 1px #000;
  border-radius: 15px;
  background-color: var(--main-color);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 15%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);         
}

.button:hover {
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 25%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 4px 4px 6px rgba(255, 255, 255, .6),
              inset -4px -4px 6px rgba(0, 0, 0, .6);
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.grid_btn {
  background-color: color-mix(in srgb, var(--main-color), transparent 40%);
}

.dark_grid_btn {
  background-color: color-mix(in srgb, var(--main-color), transparent 60%); 
}

.submode_btn {
  background-color: color-mix(in srgb, #8d2a2a, transparent 40%);
}

.alert_btn {
  background-color: color-mix(in srgb, var(--main-color), #fff 30%) !important;
}

.button__text {
  line-height: 4.0; /* normal button width */
  -webkit-user-select: none;
  user-select: none;
}

.large__icon {
  font-size: 38px;
  position: relative;
  top: 7px;
}

.button__textsmall {
  line-height: 3.8; /* small button height */
  font-size: 20px;
  -webkit-user-select: none;
  user-select: none;
}

.button__lgr {
  width: 312px; /* large button width */
}

/*
 *  Top Navigation Bar
 */

.topnav {
  border: none;
  outline: none;
  margin: 5px;
  line-height: 2.5;
  overflow: hidden;
  background-color: #2d353d; /* nav background color */
  border-radius: 25px;
  opacity: 75%;
}

.topnav a {
  float: left;
  border: none;
  outline: none;
  padding: 0px 12px;
  padding-top: 4px;
  text-decoration: none;
  text-align: center;
  color: #fff; /* nav font color */
  text-shadow: 1px 1px 1px #000;
}

.topnav a:hover {
  background-color: color-mix(in srgb, var(--main-color), #000 40%);
  color: #fff;
}

/*
 *  Console Log Window
 */

.popup {
  border-radius: 15px;
  display: none;
  position: fixed; /* Fixes the element relative to the viewport */
  bottom: 10px;
  left: 50%; /* Positions the left edge at the horizontal center */
  transform: translateX(-50%); /* Adjusts for the element's width to truly center it */
  border: 8px solid #202223;
  outline: 1px solid #a2a5a9;
  outline-offset: 0px;
  z-index: 99;
}

.log-popup {
  width: 75%; /* log window width */
  height: 95%; /* log window height */
  min-height: 95%;
}

/* adjust elements when screen width is LT 900px */
@media screen and (max-width: 900px) {
  .column-right {
    padding-left: 0px;
  }
  .grid {
    flex-direction: column;
    align-items: center;
  }
  .log-popup {
    width: 95%; /* log window width */  
  }
}

/* Add styles to the form container */
.log-popup-ctn {
  padding-bottom: 85px;
  background-color: #202223;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Full-width textarea */
.log-popup-ctn textarea {
  border-radius: 7px;
  margin-bottom: 3px;
  height: 100%;
  width: 100%;
  color: #fff; /* textbox font color */
  background: #000; /* textbox background color */
  resize: none;
  font-kerning: none;
  font-family: monospace,system-ui; /* log window font */
  font-size: 15px; /* page default font size */
  border: 0px;
}

/* When the textarea gets focus, do something */
.log-popup-ctn textarea:focus {
  background: #000; /* textbox selected background color */
  outline: none;
}

.button_left_txtwin {
  margin: 0px;
  height: 75px;
  width: 75px;
}

.button_right_txtwin {
  margin: 0px;
  height: 75px;
  width: 120px;
  float: right;
}

/*
 *  Camera Window Style
 */

#camForm {
  width: 90vw;
  height: auto;
}

#camDiv {
  background-color: #202223;
  overflow: hidden;
  resize: none;
}

#camImage {
  width: 100%;
  height: auto;
  max-height: 80vh;
  aspect-ratio: 16 / 9;
  margin-bottom: 3px;
  border-radius: 7px;
  overflow: clip;
}

#camButtonLeft {
  background-color: var(--main-color);
  margin: 0px;
}  

#camButtonRight {
  background-color: var(--main-color);
  float: right;
  margin: 0px;
}

/*
 *  Dropdowns Style
 */

.dropdown {
  position: relative;
  display: inline-block;
}

.nav_dd_left {
  padding-left: 5px;
  position: absolute;
  display: block;
  z-index: 999;
}

.nav_dd_right {
  right: 165px;
  position: absolute;
  display: block;
  z-index: 999;
}

#nav_right_menu {
  width: 75px;
  float: right;
}

.dd-selected {
  border-radius: 5px;
  background-color: var(--main-color);
}

/* dropdown menu on window */
.dd-menu {
  position: fixed;
  min-width: 125px;
}

/* dropdown menu on buttons */
.dd-button { 
  position: absolute;
  min-width: 130px;
  border-radius: 5px;
}

/* dropdown menu content */
.dd-content {
  border-radius: 5px;
  cursor: pointer;
  display: none;
  background-color: #4d5b69;
  opacity: 0.96;
  z-index: 999;
}

/* links inside the dropdown */
.dd-content a {
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #fff;
  padding: 12px 16px;
  text-align: left;
  display: block;
}

.dd-content a:hover {
  border-radius: 5px;
  background-color: #1c1e20;
  color: #e8e5e5;
}

/* Status Menu */

.no_select {
  pointer-events: none;
}

.ind_dot {
  height: 25px;
  width: 25px;
  background-color: #000;
  border-radius: 50%;
  right: 3px;
  margin-right: 10px;
  position: absolute;
  display: inline-block;
}

.ind_dot_yellow {
  background-color: #ffd000;
}

.ind_dot_green {
  background-color: #00FF00;
}

.ind_dot_red {
  background-color: #FF0000;
}

.ind-button {
  position: absolute;
  min-width: 160px;
}

/* Theme Menu */

.theme-colorbox {
  margin: 8px;
}

/*
 *  Bookmarks Style
 */

.bookmark-buttons {
  display: none;
}

.bookmark-editmode {
  background-color: #6f230f;
}

#bookmarks {
  overflow-x: hidden;
  max-height: 75vh;
  height: auto;
}

#bookmarks::-webkit-scrollbar-track {
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #2d353d;
  border-radius: 5px;
}

#bookmarks::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, var(--main-color) 70%, #fff);
  border-radius: 5px;
}

#bookmarks::-webkit-scrollbar {
  width: 5px;
}

#bookmark__search {
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

#bookmark__search_txt {
  width: 100%;
  color: #fff;
  background-color: color-mix(in srgb, var(--main-color) 40%, #000);
  box-shadow: 0 0 15px color-mix(in srgb, var(--main-color) 40%, #fff);
  border: 3px solid #000;
}

#bookmark__search_txt::placeholder {
  color: #c1c1c1;
}

#bookmark__search_txt:focus {
  outline: 3px solid color-mix(in srgb, var(--main-color) 40%, #fff);
}

#bookmark__search_icon {
  text-align: center;
  margin-right: 16px;
}

/*
 *  Password Prompt Style
 */

#pass__prompt_win {
  border-radius: 15px;
  background-color: #000;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  padding: 16px; 
  color: #fff;
  z-index: 998;
}

#pass__textbox {
  border-radius: 15px;
  margin: 15px;
  width: 285px; 
  padding: 5px; 
}

#pass__prmbtnctr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pass__prompt_btn {
  margin-left: 7px;
  margin-right: 7px;
  height: 70px;
  width: 120px;
}

/*
 *  Pi WiFi Connection Manager
 */

#pinet__prompt {
  border-radius: 15px;
  background-color: #000;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 350px;  
  height: auto;
  padding: 16px; 
  color: #fff;
  z-index: 998;
}

#pinet__ssidbox {
  border-radius: 15px;
  margin: 15px;
  width: 280px; 
  padding: 5px; 
}

#pinet__passbox {
  border-radius: 15px;
  margin: 15px;
  width: 280px; 
  padding: 5px; 
  padding-bottom: 10px; 
}

.pinet__btn {
  margin-left: 15px;
  margin-right: 15px;
  width: 127px; 
  height: 70px; 
}

/*
 *  WiFi SSID Display Prompt Style
 */

#wifi__prompt {
  border-radius: 15px;
  background-color: #000;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: auto;  
  height: auto;
  padding: 16px; 
  color: #fff;
  z-index: 998;
}

#wifi__img {
  margin: 10px;
} 

#wifi__pwdtxt {
  text-align: center;
  margin: auto;
  color: #a6a9ad;
  font-size: 18px;
  margin-bottom: 10px;
}

#wifipmt__btn {
  width: 120px;
  height: 60px;
  bottom: 15px;
  left: 50%;
}

/*
 *  Edit Bookmarks Prompt Style
 */

#editFav__prompt {
  border-radius: 15px;
  background-color: #000;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  position: absolute;
  display: inline-block;
  padding-bottom: 10px; 
  top: 20%;
  left: 20%;
  height: auto;
  width: 360px;
  color: #fff;
  z-index: 999; 
}

.editFav__button {
  padding-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  width: 160px;
}

.editFav__toptext {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 20px;
}

.editFav__textbox {
  border-radius: 15px;
  margin-bottom: 10px;
  padding-right: 5px;  
  padding-left: 5px;    
  padding-bottom: 10px;  
  padding-top: 10px;  
  text-align: left;
  font-size: 22px;
  color: #000;
  width: 330px;
  height: auto;
}

/*
 *  About Prompt Style
 */

#about__prompt {
  border-radius: 15px;
  background-color: #000;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 260px;
  height: 340px;
  padding: 15px; 
  color: #fff;
  z-index: 997; 
}

#about__btn {
  position: absolute;
  margin-left: -75px;
  width: 150px;
  height: 70px;
  bottom: 18px;
  left: 50%;
}

.about__title {
  font-size: 30px;
}

.about__text {
  text-align: center;
  margin: auto;
  color: #a6a9ad;
  font-size: 19px;
}

/*
 *  Server Options Window
 */

.svropt__prompt {
  border-radius: 15px;
  display: none;
  overflow-y: visible;
  background-color: #000;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 455px;
  height: auto;
  padding: 7px; 
  z-index: 998;
  color: #fff;
}

.svropt__bkp_brd {
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 5px; 
  padding-right: 5px; 
}

.svropt__bkp_frame {
  border: 1px solid #fff;
  color: #fff;
  padding-top: 7px; 
  padding-bottom: 7px; 
  padding-left: 5px; 
  padding-right: 5px; 
}

.svropt__bkp_btn {
  width: 128px;  
}

.svropt_button {
  width: 135px;  
}

.svropt_button_lgr {
  width: 283px;  
}

/*
 *  Color Selector Style
 */

#color__prompt {
  border-radius: 15px;
  background-color: #000;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 350px;  
  height: auto;
  padding: 16px; 
  color: #fff;
  z-index: 998; 
}

#color__text {
  margin-left: 10px;
  margin-bottom: 5px;
  position: relative;
}

#color__box {
  position: relative;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 0px;
  background: none;
  margin-top: 10px;
  margin-left: 10px;
  height: 30px;
  width: 295px;  
}

#color__box::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color__box::-webkit-color-swatch {
  border: solid 1px #000; /*change color of the swatch border here*/
  border-radius: 0px;
}

/*
 *  Animated Stars Background
 */

.star-bg {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #000;
  z-index: -1000;
}

.star-tile {
  overflow: hidden;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 512px 512px;
}

#star-1 {
  background-image: url("./img/topleft.png");
}

#star-2 {
  background-image: url("./img/topright.png");
}

#star-3 {
  background-image: url("./img/bottomleft.png");
}

#star-4 {
  background-image: url("./img/bottomright.png");
}

#star-5 {
  background-image: url("./img/topleft.png");
}

#star-6 {
  background-image: url("./img/topright.png");
}

#star-7 {
  background-image: url("./img/bottomleft.png");
}

#star-8 {
  background-image: url("./img/bottomright.png");
}

#star-9 {
  background-image: url("./img/topleft.png");
}

#star-10 {
  background-image: url("./img/topright.png");
}

#star-11 {
  background-image: url("./img/bottomleft.png");
}

#star-12 {
  background-image: url("./img/bottomright.png");
}

.star-a-1 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.star-a-2 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}

.star-a-3 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

.star-a-4 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 10.17s;
}

.star-a-5 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-delay: 1.33s;
}

.star-a-6 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 1.33s;
}

.star-a-7 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 6.33s;
  animation-delay: 2.11s;
}

.star-a-8 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 10.17s;
  animation-delay: 2.11s;
}

.star-a-9 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-delay: 1.33s;
}

.star-a-10 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 2.11s;
}

.star-a-11 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-delay: 1.33s;
}

.star-a-12 {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes slide-transparency {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
 *  Spinner Style
 */

.btn-spinner {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  top: 50%;
  left: 50%;
}

.right-nav-spinner {
  width: 30px;
  height: 30px;
  margin-left: -27px;
  margin-top: 12px;
}

.btn-spinner, .right-nav-spinner {
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
 *  Volume Popup
 */

#vol-popup {
  border-radius: 15px;
  background-color: #000;
  border: 1px solid #fff;
  position: fixed;
  top: 50px;
  height: auto;
  width: 170px;
  left: 50%;
  margin-left: -85px;
  padding: 8px;
  z-index: 998;
  overflow: hidden;
  resize: none;
}

#vol-text {
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  color: color-mix(in srgb, var(--main-color) 40%, #fff);
  margin-bottom: 10px;
}

.progress_grid {
  margin-top: 8px;
  margin-bottom: 15px;
  background: #38383f;
  position: relative;
  height: 30px;
  width: 150px;
  border: 4px solid #2a2a2e;
  border-radius: 20px;
  z-index: 1;
}

.bar_progress {
  left: 0px;
  width: 30%;
  height: 100%;
  position: absolute;
  background: linear-gradient(0deg, var(--main-color) 30%, color-mix(in srgb, var(--main-color) 70%, #fff) 100%);
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
}

/*
 *  Temperature Prompt Style
 */

 #temp__prompt {
  border-radius: 15px;
  background-color: #000;
  border: 1px solid #fff;
  margin-left: -125px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  padding: 15px; 
  color: #fff;
  z-index: 997; 
}

.temp__btn {
  width: 100px;
  height: 60px;
  margin-right: 5px;
  margin-left: 5px;
}

#temp_therm_grid {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  width: 210px;
  height: 290px;
  margin-top: 15px;
}

.thermometer {
  width: 25px;
  background: #38383f;
  height: 240px;
  position: relative;
  border: 9px solid #2a2a2e;
  border-radius: 20px;
  z-index: 1;
}

.thermometer:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  background-color: #659df1;
  bottom: -40px;
  border: 9px solid #2a2a2e;
  z-index: -3;
  left: 50%;
}

.thermometer .temperature {
  height: 0px;
  bottom: 0px;
  position: absolute;
  background: linear-gradient(#e83535, #659df1) no-repeat bottom;
  width: 100%;
  border-radius: 20px;
  background-size: 100% 240px;
  transition: all 0.2s ease-in-out;
}

.thermometer .temperature:before {
  min-width: 40px;
  position: absolute;
  z-index: 2;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.25em;
  line-height: 1;
  transform: translate(-50%, 50%);
  background: var(--main-color);
  opacity: 85%;
  color: #fff;
}

.thermometer #thermo__1:before {
  content: attr(data-value);
}

.thermometer #thermo__2:before {
  content: attr(data-value);
}

